/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 600;
}

/* ------------------------------- */
/* starter pack */

.container{
    display: flex;
}

.container-column{
    display: flex;
    flex-direction: column;
}

.standard-width{
    width: 70%;
}

.height100{
    height: 100%;
}

.height80{
    height: 80%;
}

.height60{
    height: 60%;
}

.in-flex-centered-item{
    margin: auto;
}

.border{
    border: 1px dashed black;
}

.pill{
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
}

/* ------------------------------- */
/* header section "navbar & hero container" */

header > section{
    background-image: url(img/jumbo.png);
    background-size: cover;
    height: 700px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header nav{
    height: 60px;
    margin-top: 20px;
}

nav div.container{
    align-items: center;
}

nav div.container:nth-child(odd){
    width: 25%;
}

nav div.container:nth-child(even){
    width: 50%;
    justify-content: center;
}

nav div.container:first-child{
    justify-content: flex-start;
}

nav div.container:last-child{
    justify-content: flex-end;
}

nav ul.container{
    width: 90%;
    justify-content: space-evenly;
    font-size: 0.85vw;
}

nav ul > li{
    list-style: none;
}

a{
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

p.pill.white-bg a:hover{
    color: rgb(49, 159, 255);
    text-decoration: none;
}

nav img.logo{
    margin-left: 10px;
}

nav p.pill{
    margin-right: 10px;
}

header div.hero{
    width: 50%;
    height: 68%;
    margin-bottom: 60px;
}

div.hero section.container{
    justify-content: center;
}

div.hero section.container p:first-child{
    margin-right: 15px;
}

div.hero > *:not(section.container){
    text-align: center;
    color: white;
}

div.hero h1{
    margin-bottom: 50px;
    font-size: 4vw;
}

div.hero > p{
    margin-bottom: 20px;
    font-size: 1vw;
}

.white-bg{
    background-color: white;
}

.white-txt{
    color: white;
}

.black-bg{
    background-color: black;
}

.black-txt{
    color: black;
}

/* ------------------------------- */
/* main sections */

main section:nth-child(even){
    background-color: lightgray;
}

main div > div{
    display: flex;
}

main aside h1{
    font-size: 3vw;
    line-height: 4.5rem;
    margin-bottom: 1.5rem;
}

main aside p{
    font-size: 1.3vw;
    line-height: 2.2rem;
    font-weight: 300;
}

main section:nth-child(2) > div.container{
    flex-direction: row-reverse;
}

main section:last-child{
    text-align: center;
    align-items: flex-start;
    justify-content: center;
}

main section:last-child div.container-column{
    align-items: center;
    margin-top: 60px;
}

main section:last-child img:first-of-type{
    width: 75%;
}

main section:last-child div > div{
    background-image: url(img/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.big-sect-height{
    height: 1200px;
}

.standard-sect-height{
    height: 700px;
}

main h2{
    font-size: 1.5vw;
    margin-bottom: 3rem;
}

.width65{
    width: 65%;
}

.width35{
    width: 35%;
}

.green{
    background-color: green;
}

/* ------------------------------- */
/* footer section 1 */

footer > section{
    background-color: rgb(55, 55, 55);
}

footer h2{
    font-size: 1.5vw;
    color: rgb(117, 113, 187);
}

footer section:first-child div.container div:first-child{
    width: calc(200% / 6);
}

footer section:first-child li{
    margin-left: 15px;
}

footer section:first-child li:first-child{
    color: rgb(117, 113, 187);
}

footer section:first-child li:not(li:first-child){
    color: white
}

footer section:first-child div.container div:not(div:first-child){
    width: calc(100% / 6);
}

/* ------------------------------- */
/* footer section 2 */

footer section:last-child{
    height: 100px;
}

footer section:last-child > div{
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(117, 113, 187);
}

footer section:last-child > div > div{
    height: 40%;
    padding: 5px 10px;
}